<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>JPA2 회원조회</h1>
	<div class="container">
		<div>
			<table bgcolor="pink">
				<thead>
					<tr>
						<th> No </th>
						<th> 회원이름 </th>
						<th> 팀 이름 </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="member : ${memberList}">
						<td th:text="${member.id}"></td>
						<td><a th:href="@{/memberModifyForm(id=${member.id})}"
							th:text="${member.name}"></a></td>
						<td th:text="${member.team.name}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>